<p>forms-group works!</p>

<div>
    
<form #login="ngForm" (ngSubmit)="onSubmit(login)">
    <div class="div1">
        <label for="">First Name: </label>
        <input #name="ngModel" type="text" name="fname" id="" ngModel >
        <div *ngIf="name.invalid || name.touched" class="alert">IMvalid</div>
    </div>

    <div class="div1">
        <label for="">Last Name: </label>
        <input #name="ngModel"  type="text" name="lname" id="" ngModel>
        <div *ngIf="name.invalid || name.touched" class="alert">IMvalid</div>
    </div>
    <div class="div1">
        <label for="">Email: </label>
        <input type="email" name="email" id="" required ngModel>
    </div>
    <div class="div1">
        <label for="">Password: </label>
        <input type="passwords" name="password" id="" ngModel>
    </div>

    <pre></pre>
    <button type="submit">Submit</button>
</form>

</div>
<app-textcomponent></app-textcomponent>